@mixin display-flex ($justify, $align, $direction) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin text-style ($size, $color, $height, $align) {
    font-size: $size;
    color: $color;
    line-height: $height;
    text-align: $align;
}
@mixin box-text-style ($color, $align, $size) {
    color: $color;
    text-align: $align;
    font-size: $size;
}
