@mixin display-flex ($justify, $align, $direction) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin text-style ($font, $weight, $size, $color, $height, $align) {
    font-family: $font;
    font-weight: $weight;
    font-size: $size;
    color: $color;
    line-height: $height;
    text-align: $align;
}
@mixin link-style ($font, $size, $weight, $color) {
   font-family: $font;
   font-size: $size;
   font-weight: $weight;
   color: $color;
}
