// Global
$box-shadow: 0 0px 5px 0px grey;
$hover-color: red;
$main-color: #5863f8;
$p-color: #747474;

// Header Section
$header-padding-top: 20px;
$navigation-font-size: 20px;

// Section 1
$main-container-size: 1200px;
// Section 2
$box-1-bgcolor: linear-gradient(to bottom, #fbba77, #dfa871);
$box-2-bgcolor: linear-gradient(to bottom, #41eae3, #2293b7);
$box-3-bgcolor: linear-gradient(to bottom, #69529f, #463864);
$box-4-bgcolor: linear-gradient(to bottom, #4386d2, #0962c5);
$box-5-bgcolor: linear-gradient(to bottom, #a5a2f6, #564fd6);
$box-6-bgcolor: linear-gradient(to bottom, #ff8088, #984141);

// Footer Section
$footerbg: #f2f2f0; 
